
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EverPresent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row">
        <div class="unit">
            <div class="left-half">
                <div class="navbar-default sidebar">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav in" id="side-menu">
                            <li class="nav_top_admin_home"></li>
                            @Html.ActionLink("Admin Home", "Index", "Admin")
                            <li class="nav_top_roster"></li>
                            <li>ROSTER</li>
                            <li>2018</li>
                            <li>2017</li>
                            <li>2016</li>
                            <li class="nav_top_logout"></li>
                            <li>@Html.ActionLink("Logout", "Index", "Home")</li>

                        </ul>
                    </div>
                </div>
            </div>


            <div class="right-half">
                <div class="container body-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
