<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EverPresent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Bootstrap Nav</title>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand"> EverPresent</p>
</div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Admin Home", "Index", "Admin")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Roster<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Andrew", "Andrew", "Admin")</li>
                        <li>@Html.ActionLink("Jane", "Andrew", "Admin")</li>
                        <li>@Html.ActionLink("Jeff", "Andrew", "Admin")</li>
                        <li>@Html.ActionLink("Jake", "Andrew", "Admin")</li>

                    </ul>
                </li>
                <li>@Html.ActionLink("Calendar", "Calendar", "Admin")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inactive Students<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("2018", "InactiveStudents", "Admin")</li>
                        <li>@Html.ActionLink("2017", "InactiveStudents", "Admin")</li>
                        <li>@Html.ActionLink("2016", "InactiveStudents", "Admin")</li>
                        <li>@Html.ActionLink("2015", "InactiveStudents", "Admin")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-right:5px">@Html.ActionLink("Logout", "Index", "Home")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
