
                            

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EverPresent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Bootstrap Nav</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand"> EverPresent</p>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Student Home", "Index", "Student")</li>
                <li>@Html.ActionLink("Mogwai Reports", "MogwaiReports", "Student")</li>
                <li>@Html.ActionLink("Mogwai", "Mogwai", "Student")</li>
                <li>@Html.ActionLink("Market", "Marketplace", "Student")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-right:5px">@Html.ActionLink("Logout", "Index", "Home")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="row text-center">
            &copy; @DateTime.Now.Year - EverPresent
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>