@model EverPresent.Models.StudentViewModel
@Scripts.Render("~/Scripts/script.js")


<!--




@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Roster/AndrewSignedIn">
                    <img src="~/image/game.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Andrew Smith</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Marry Jane</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/game.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">James</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Joe</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="specialB">
                <a href="~/Home/Index">
                    <img src="~/image/game.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Julia</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Janice</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/game.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Chris</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="specialButton">
                <a href="~/Home/Index">
                    <img src="~/image/pokemon-6.svg" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Lily</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-5">
        @Html.ActionLink("AddStudent", "AddStudent", "Student", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
        @Html.ActionLink("Logout", "Index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
        <h3>Time @DateTime.Now.ToString(@"hh\:mm\:ss tt")</h3>
    </div>

</div>


    -->



<h2>Students</h2>

<div class="container">
    <div class="row text-center">

        @{
            if (Model.StudentList == null || !Model.StudentList.Any())
            {
                <br />
                <p>No Mogwai in the System</p>
                <br />
            }
            else
            {
                foreach (var item in Model.StudentList)
                {
                    <div class="col-sm-2">

                        <img src="~/image/@item.AvatarId" width="75" height="75" />
                       
                        <br />
                        <span>
                            @item.Name
                        </span>

                    </div>
                }
            }
        }

    </div>
    <br />
    <br />
    <div class="col-md-2 col-md-offset-5">
        @Html.ActionLink("AddStudent", "AddStudent", "Student", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
        @Html.ActionLink("Logout", "Index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
        <h3>Time @DateTime.Now.ToString(@"hh\:mm\:ss tt")</h3>
    </div>
</div>