@model EverPresent.Models.StudentViewModel
@Scripts.Render("~/Scripts/script.js")

@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Student Sign-In</h2>
            <h3>@DateTime.Now.ToString(@"MMM d yyyy") <span id="datetime"></span></h3>
        </div>
        <script>
            function update() {
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit' });
            }
            update();
            window.setInterval(update, 1000);
        </script>
    </div>
</div>

<!--Alert that Student Signed in/out-->
<div id="snackbar">

    <p id="clockInOut">
        Clock in Success!
    </p>
    <p>
        Time: <span id="timeNow"></span>
        <script>
            var timeNow = new Date();
            document.getElementById("timeNow").innerHTML = timeNow.toLocaleTimeString();
        </script>
    </p>
    <!-- Default snackbar message for tokens-->
    <p id="tokensEarned">
        60 tokens earned for yesterday
    </p>
    <p id="mogwaiEarned">
        No Mogwai earned today
    </p>
</div>

<div class="container">
    <div class="row text-center panel-ep">

        @{
            if (Model.StudentList == null || !Model.StudentList.Any())
            {
                <br />
                <p>No Students in the System</p>
                <br />
            }
            else
            {
                foreach (var item in Model.StudentList)
                {

                    if (item.Status != EverPresent.Models.Enums.StudentStatusEnum.Hold)
                    {
                        <div class="col-xs-3">
                            <div class="panel">
                                @{ count++; string id = "id" + count;
                                    if (item.Status == EverPresent.Models.Enums.StudentStatusEnum.Out)
                                    {
                                        <a id="@item.Id" href="~/Roster/SetLogIn/@item.Id">

                                            <p id="@id"> <img src="~/image/@item.AvatarId" class="mogwaiMediumGrayscale"  /></p>

                                            <br />
                                            <span>
                                                @item.Name
                                            </span>
                                        </a>
                                    }
                                    if (item.Status == EverPresent.Models.Enums.StudentStatusEnum.In)
                                    {
                                        <a id="@item.Id" href="~/Roster/SetLogOut/@item.Id">

                                            <p id="@id"> <img src="~/image/@item.AvatarId" class="mogwaiSizeMedium" /></p>

                                            <br />
                                            <span>
                                                @item.Name
                                            </span>
                                        </a>
                                    }
                                }

                            </div>
                        </div>
                    }
                }
            }
        }

    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        @Html.ActionLink("AddStudent", "AddStudent", "Student", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-success" })
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center" style="margin-top:10px">
        @Html.ActionLink("Logout", "Index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-dark" })
    </div>
</div>

<script>
    // show alert
    function showAlert() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
    }

    // Generates snackbar message with different token counts
    function randomTokenGeneration() {
        var randomNumberTokens = Math.floor(Math.random() * 2); // Generate random number to simulate different token counts
        var zeroOneOddsZero = 0; // 50% chance for randomNumberTokens
        var zeroOneOddsOne = 1;  // Other 50% chance for randomNumberTokens

        // 50% chance tokensEarned will be 30 tokens
        if (randomNumberTokens == zeroOneOddsZero) {
            document.getElementById("tokensEarned").innerHTML = "30 tokens earned from yesterday";
        }

        // 50% chance tokensEarned will be 25 tokens
        else {
            document.getElementById("tokensEarned").innerHTML = "25 tokens earned from yesterday";
        }

    }

    // Generates snackbar message with different Mogwai collected
    function randomMogwaiGeneration() {
        var randomNumberMogwai = Math.floor(Math.random() * 100); // Generate random number to simulater receiving Mogwai
        var fivePercentOdds = 5; // Upper limit for random number to give 5% odds
        var onePercentOdds = 6;  // Upper limit for random number to give 1% odds

        // 5% chance for Mogwai earned to be Burr
        if (randomNumberMogwai < fivePercentOdds) {
            document.getElementById("mogwaiEarned").innerHTML = "Mogwai Burr received!";
        }

        // 1% chance for Mogwai earned to be Loki
        else if (randomNumberMogwai >= fivePercentOdds && randomNumberMogwai < onePercentOdds) {
            document.getElementById("mogwaiEarned").innerHTML = "Mogwai Loki received!";
        }

        // Show no Mogwai earned
        else {
            document.getElementById("mogwaiEarned").innerHTML = "";
        }
    }


    window.onload = myFunction;

    function myFunction() {
        var zeroOneOddsZero = 0;
        var zeroOneOddsOne = 1;

        
            document.getElementById("clockInOut").innerHTML = "Clock out Success!";
            document.getElementById("tokensEarned").innerHTML = ""; // Don't show a token count when clocking out
            document.getElementById("mogwaiEarned").innerHTML = ""; // Don't show any Mogwai earned
          
        showAlert();
    }
</script>
