@model Tuple<EverPresent.Models.StudentModel, EverPresent.Models.MogwaiModel>



<img src="~/image/Kiosk_Create_Stud.png" alt="Create Student" class="center-block" />

<div class="container">
    <div class="row">
        <h2>Create Student</h2>
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(tuple => tuple.Item1)

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(tuple => tuple.Item1.Id)
                </div>
                <div class="col-sm-2">
                    @Html.EditorFor(tuple => tuple.Item1.Name)
                    @Html.ValidationMessageFor(tuple => tuple.Item1.Name)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(tuple => tuple.Item1.Name)
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(tuple => tuple.Item2.Id, EverPresent.Backend.MogwaiBackend.Instance.GetMogwaiListItem(Model.Item2.Id))
                    @Html.ValidationMessageFor(tuple => tuple.Item2.Id)

                </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-sm-3 text-right">
                </div>
                <div class="col-sm-4">

                    @Html.ActionLink("cancel", "Index", "Roster", new { id = Model.Item1.Id }, new { @class = "btn btn-success" });
                    <input type="submit" value="Create" class="btn btn-primary" />

                </div>
            </div>
        }
    </div>
</div>




