@model EverPresent.Models.MogwaiModel

@{
                /**/

                ViewBag.Title = "Update";
}

<div class="container">
    <div class="row">
        @{
            if (Model == null)
            {
                <p>No Mogwai</p>
            }

            else
            {
                <div class="row text-center">
                    <h2>Update Mogwai</h2>
                    <br />
                    <br />

                    <div class="row text-center mogwai-info">
                        <img src="~/image/@Model.Uri" class="mogwaiSizeSmall" />
                        <br />
                        <br />
                        <span>
                            <h4><b>@Model.Name</b></h4>
                            <br />
                        </span>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.Uri)
                        @Html.HiddenFor(m => m.Name)
                        @Html.HiddenFor(m => m.Family)
                        @Html.HiddenFor(m => m.Description)
                        @Html.HiddenFor(m => m.Cost)
                        @Html.HiddenFor(m => m.Rarity)
                        <div class="row text-center">
                            <b>@Html.DisplayNameFor(m => m.Level)</b>
                            @Html.EditorFor(m => m.Level)
                            @Html.ValidationMessageFor(m => m.Level)
                            <br />
                            <br />
                        </div>
                        <div class="row text-center">
                            @Html.ActionLink("Cancel", "Mogwai", "Student", new { id = Model.Id }, new { @class = "btn btn-dark" })
                            <input type="submit" value="Update" class="btn btn-primary">
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
