


@model EverPresent.Models.StudentModel



<div class="container">
    <div class="row">
        <h2>Create Student</h2>
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Status)
            @Html.HiddenFor(m => m.Tokens)


            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Name)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>



            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.AvatarId)
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.AvatarId, new SelectList(
         new List<Object>{
              new { value = "avatar0.png" , text = "Jord"  },
              new { value = "avatar1.png" , text = "Freya"  },
              new { value = "avatar2.png" , text = "Hodr"  },
              new { value = "avatar3.png" , text = "Vili"  },
              new { value = "avatar4.png" , text = "Loki"  },
              new { value = "avatar5.png" , text = "Frigg"  },
              new { value = "avatar6.png" , text = "Sif"  },
              new { value = "avatar7.png" , text = "Burr"  }

           },
         "value",
         "text",
          Model.AvatarId), new { @style = "width: 180px;" })

                    @Html.ValidationMessageFor(m => m.AvatarId)
                </div>
            </div>



            <br />
            <br />
            <div class="row">
                <div class="col-sm-3 text-right">
                </div>
                <div class="col-sm-4">

                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </div>




        }
    </div>
</div>


