


@model EverPresent.Models.StudentModel



<div class="container">
    <div class="row">
        <h2>Create Student</h2>
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Status)
            @Html.HiddenFor(m => m.Tokens)
            @Html.HiddenFor(m => m.AvatarId)

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Name)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-sm-3 text-right">
                </div>
                <div class="col-sm-4">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </div>
        }
    </div>
</div>


