
@model EverPresent.Models.StudentModel
@{
    ViewBag.Title = "EditAndrew";
  
}

<h1 style="text-align: center; font-size:xx-large; margin-top:200px; margin-bottom:200px" display="block"> Edit Student</h1>



<div class="container">
    <div class="row">
     
        @{
            if (Model == null)
            {
                <p>No Student</p>
            }

            else
            {
                <div class="row">
                


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m=> m.AvatarId)
                        @Html.HiddenFor(m => m.Status)

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Name)
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.Name)
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Tokens)
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.Tokens)
                                @Html.ValidationMessageFor(m => m.Tokens)
                            </div>
                        </div>
                       
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                            </div>
                            <div class="col-sm-4">
                                @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                                <input type="submit" value="EditAndrew" class="btn btn-primary">
                            </div>
                        </div>

                    }


                </div>
            }

        }
    </div>
</div>

