@model Tuple<EverPresent.Models.StudentModel, EverPresent.Models.MogwaiViewModel>
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div>
    <h2 class="studentMarketplaceHeader">Mogwai Market </h2>
</div>


<!--
Marketplace carousel, slides show a unique mogwai available for purchase. Button click will
 call its respective method in the Student Controller. If student has sufficient token funds
a purchase will complete and student's token amount will have the price of the Mogwai deducted from
 their token balance.'
-->
<div class="bs-example">
    <div id="myCarousel" data-interval="false" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <!-- Wrapper for carousel items -->

        <div class="carousel-inner">

            <div class="item active">

                <div class="carousel-caption">
                    <h3 class="h3black">Welcome To Mogwai Market. <br /> Choose Wisely ;)</h3>
                </div>
            </div>

         @foreach (var item in Model.Item2.MogwaiList)
         {
            <div class="item">
                <img src="~/image/@item.Uri" alt="Second Slide" height="300">
                <div class="carousel-caption">
                    <button id="@item.Name" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student", new { deduct = 100 })'" class="btn-market">@item.Name<br />Family: @item.Family<br />Rarity: @item.Rarity<br />Cost: @item.Cost Tokens<br /><p class="buyBox">Click to Buy</p></button>
                </div>
            </div>
         }

        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<div class="col-md-4 col-md-offset-4 studentMarketplaceCurrentTokens">
    <h2 id="clicked">Current Tokens: @Model.Item1.Tokens </h2>
    <br />
    <br />
    <br />
</div>



<!--JS functions tied to carousel button clicks. Each function alerts the user
    through a JS alert either confirming a purchase or stating token balance is insufficient.
    to the Mogwai clicked and updates a JS token total displayed to the user
    -->

<script type="text/javascript">



</script>


