@model EverPresent.Models.StudentModel
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div>
    <h2 style="text-align:center;">Mogwai Market </h2>
</div>


<!--
Marketplace carousel, slides show a unique mogwai available for purchase. Button click will
 call its respective method in the Student Controller. If student has sufficient token funds
a purchase will complete and student's token amount will have the price of the Mogwai deducted from
 their token balance.'
-->
<div class="bs-example">
    <div id="myCarousel" data-interval="false" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <!-- Wrapper for carousel items -->

        <div class="carousel-inner">

            <div class="item active">

                <div class="carousel-caption">
                    <h3>Welcome To Mogwai Market. <br />Choose Wisely</h3>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar0.png" alt="Second Slide" height="300">
                <div class="carousel-caption">
                    <button id="Jord" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student",new {deduct = 100})'" class="btn-market">Jord<br />Family: Aegir<br />Rarity: 1<br />Cost: 100 Tokens</button>
                </div>
            </div>


            <div class="item">
                <img src="~/image/avatar1.png" alt="Third Slide" height="300">
                <div class="carousel-caption">
                    <button id="Freya" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student", new {deduct = 200})'" class="btn-market">Freya<br />Family: Aegir<br />Rarity: 2<br />Cost: 200 Tokens</button>
                </div>
            </div>

            <div class="item">
                <img src="~/image/avatar2.png" alt="Fourth Slide" height="300">
                <div class="carousel-caption">
                    <button id="Hodr" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student",new {deduct = 100})'" class="btn-market">Hodr<br />Tyr<br />Rarity: 1<br />Cost: 100 Tokens</button>
                </div>

            </div>
            <div class="item">
                <img src="~/image/avatar3.png" alt="Fifth Slide" height="300">
                <div class="carousel-caption">
                    <button id="Vili" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student",new {deduct = 300})'" class="btn-market">Vili<br />Family: Tyr<br />Rarity: 3<br />Cost: 300 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar4.png" alt="Sixth Slide" height="300">
                <div class="carousel-caption">
                    <button id="Loki" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student",new {deduct = 500})'" class="btn-market">Loki<br />Family: Odin<br />Rarity: 5<br />Cost: 500 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar5.png" alt="Seventh Slide" height="300">
                <div class="carousel-caption">
                    <button id="Frigg" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student",new {deduct = 200})'" class="btn-market">Frigg<br />Family: Odin<br />Rarity: 2<br />Cost: 200 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar6.png" alt="Eigth Slide" height="300">
                <div class="carousel-caption">
                    <button id="Sif" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student",new {deduct = 100})'" class="btn-market">Sif<br />Family: Odin<br />Rarity: 4<br />Cost: 100 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar7.png" alt="Tenth Slide" height="300">
                <div class="carousel-caption">
                    <button id="Burr" type="button" onclick="location.href='@Url.Action("MogwaiPurchase", "Student",new {deduct = 200})'" class="btn-market">Burr<br />Family: Odin<br />Rarity: 1<br />Cost: 200 Tokens</button>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<div style="text-align:center; font-size:larger" class="col-md-4 col-md-offset-4">
    <h2 id="clicked">Current Tokens: @Model.Tokens </h2>
</div>



<!--JS functions tied to carousel button clicks. Each function alerts the user
    through a JS alert either confirming a purchase or stating token balance is insufficient.
    to the Mogwai clicked and updates a JS token total displayed to the user
    -->

<script type="text/javascript">



</script>


