@model EverPresent.Models.StudentModel
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}


<img style="margin-left:auto; margin-right:auto; display:block; width:100% " src="~/image/Mogwai_market_banner.PNG" alt="banner" />

<div class="bs-example">
    <div style="margin-top:15%;" id="myCarousel" data-interval="false" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/image/avatar0.png" alt="First Slide" height="300">
                <div class="carousel-caption">
                    <button id="Jord" type="button" class="btn-market">Jord<br />Family: Aegir<br />Rarity: 1<br />Cost: 100 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar1.png" alt="Second Slide" height="300">
                <div class="carousel-caption">
                    <button id="Freya" type="button" class="btn-market">Freya<br />Family: Aegir<br />Rarity: 2<br />Cost: 200 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar2.png" alt="Third Slide" height="300">
                <div class="carousel-caption">
                    <button id="Hodr" type="button" class="btn-market">Hodr<br />Tyr<br />Rarity: 1<br />Cost: 100 Tokens</button>
                </div>

            </div>
            <div class="item">
                <img src="~/image/avatar3.png" alt="Third Slide" height="300">
                <div class="carousel-caption">
                    <button id="Vili" type="button" class="btn-market">Vili<br />Family: Tyr<br />Rarity: 3<br />Cost: 300 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar4.png" alt="Third Slide" height="300">
                <div class="carousel-caption">
                    <button id="Loki" type="button" class="btn-market">Loki<br />Family: Odin<br />Rarity: 5<br />Cost: 500 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar5.png" alt="Third Slide" height="300">
                <div class="carousel-caption">
                    <button id="Frigg" type="button" class="btn-market">Frigg<br />Family: Odin<br />Rarity: 2<br />Cost: 200 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar6.png" alt="Third Slide" height="300">
                <div class="carousel-caption">
                    <button id="Sif" type="button" class="btn-market">Sif<br />Family: Odin<br />Rarity: 4<br />Cost: 100 Tokens</button>
                </div>
            </div>
            <div class="item">
                <img src="~/image/avatar7.png" alt="Third Slide" height="300">
                <div class="carousel-caption">
                    <button id="Burr" type="button" class="btn-market">Burr<br />Family: Odin<br />Rarity: 1<br />Cost: 200 Tokens</button>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<div style="text-align:center; font-size:larger" class="col-md-3 col-md-offset-6">
    <h2 id="clicked">Current Tokens: @Model.Tokens </h2>
</div>


<input type="submit" value="Confirm Purchases" class="btn btn-primary">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.AvatarId)
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Tokens, new { id = "MyHiddenId" })
}

<script>




    var tokens = @Model.Tokens;

    document.getElementById("MyHiddenId").value = tokens;



     document.getElementById("Jord").addEventListener("click", myFunctionJord);
     function myFunctionJord() {
         if (tokens >= 100) {
             alert("Mogwai Obtained! The all powerful Jord is now part of your collection");
             tokens = tokens - 100;
             document.getElementById("clicked").innerHTML = "Current Tokens: " + tokens;
         }
        else
            alert("Need More Tokens");
    }

    document.getElementById("Freya").addEventListener("click", myFunctionFreya);
    function myFunctionFreya() {
        if (tokens >= 200) {
            alert("Mogwai Obtained! From the family Aegir, Freya is now in your collection!");
            tokens = tokens - 200;
            document.getElementById("clicked").innerHTML = "Current Tokens: " + tokens;
        }
        else
            alert("Need More Tokens");
    }


    document.getElementById("Hodr").addEventListener("click", myFunctionHodr);
    function myFunctionHodr() {
        if (tokens >= 100) {
            alert("Mogwai Obtained! Hodr the dooooooor");
            tokens = tokens - 100;
            document.getElementById("clicked").innerHTML = "Current Tokens: " + tokens;
        }
        else
            alert("Need More Tokens");
    }
    document.getElementById("Vili").addEventListener("click", myFunctionVili);
    function myFunctionVili() {
        if (tokens >= 300) {
            alert("Mogwai Obtained! Villainous Villi in your posession");
            tokens = tokens - 300;
            document.getElementById("clicked").innerHTML = "Current Tokens: " + tokens;
        }
        else
            alert("Need More Tokens");
    }

    document.getElementById("Loki").addEventListener("click", myFunctionLoki);
    function myFunctionLoki() {
        if (tokens >= 500) {
            alert("Mogwai Obtained! By the power of Odin, you've located Loki!");
            tokens = tokens - 500;
            document.getElementById("clicked").innerHTML = "Current Tokens: " + tokens;
        }
        else
            alert("Need More Tokens");
    }

    document.getElementById("Frigg").addEventListener("click", myFunctionFrigg);
    function myFunctionFrigg() {
        if (tokens >= 200) {
            alert("Mogwai Obtained! You Friggin' got Frigg!");
            tokens = tokens - 100;
            document.getmentById("clicked").innerHTML = "Current Tokens: " + tokens;
        }
        else
            alert("Need More Tokens");
    }


    document.getElementById("Sif").addEventListener("click", myFunctionSif);
    function myFunctionSif() {
        if (tokens >= 100) {
            alert("Mogwai Obtained! Nice Work! Sif is in your collection.");
            tokens = tokens - 100;
            document.getElementById("clicked").innerHTML = "Current Tokens: " + tokens;
        }
        else
            alert("Need More Tokens");
    }
    document.getElementById("Burr").addEventListener("click", myFunctionBurr);
    function myFunctionBurr() {
        if (tokens >= 200) {
            alert("Mogwai Obtained! Burrrrrrrrr, its cold out here. There must be a Burr in your Mogwai Collection");
            tokens = tokens - 200;
            document.getElementById("clicked").innerHTML = "Current Tokens: " + tokens;
        }
        else
            alert("Need More Tokens");
    }

</script>


