@model EverPresent.Models.MogwaiViewModel


@{
    var studentBackend = EverPresent.Backend.StudentDataSourceMock.Instance;
    var studentAndrew = studentBackend.Read("1");
}


<!-- Show what Mogwai they earned today-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="mogwai-info">
                <h4>Mogwai Earned Today...</h4>
                <img src="~/image/avatar4.png" class="mogwaiSizeSmall" />
                <br />
                <br />
                <b>Loki</b>
                <br />
                <b>Family: Odin</b>
                <br />
                <b>Rarity: 5</b>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <h4>Current Tokens: @studentAndrew.Tokens</h4>
        </div>
    </div>
</div>


<div class="container">
    <h2>My Mogwai Collection</h2>
    <br />
    <div class="row">
        @{
            if (Model.MogwaiList == null || !Model.MogwaiList.Any())
            {
                <br />
                <p>No Mogwai in the System</p>
                <br />
            }
            else
            {
                foreach (var item in Model.MogwaiList)
                {
                    // Create a 'collection' for Andrew
                    if (item.Name == "Loki" || item.Name == "Vili" || item.Name == "Frigg" || item.Name == "Jord" || item.Name == "Sif" | item.Name == "Burr")
                    {
                        <div class="col-sm-2">
                            <img src="~/image/@item.Uri" class="mogwaiSizeSmall" />
                            <br />
                            <div class="mogwai-info">
                                <span>
                                    <br />
                                    <b>@item.Name</b>
                                    <br />
                                    <b>Family: @item.Family</b>
                                    <br />
                                    <b>Rarity: @item.Rarity</b>
                                    <br />
                                    <b>Current Level: @item.Level</b>
                                    <br />
                                    <br />
                                    <button type="button" class="btn btn-info">Level Up</button>
                                    <br />
                                </span>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
</div>
<br />
<br />
<br />
<br />