@model EverPresent.Models.StudentViewModel
@Scripts.Render("~/Scripts/script.js")
@{
    ViewBag.Title = "InactiveStudents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;

    EverPresent.Models.Enums.StudentStatusEnum studentStatusEnum1 = EverPresent.Models.Enums.StudentStatusEnum.Hold;


}



<div class="container">
    <div class="row text-center panel-ep">

        @{
            if (Model.StudentList == null || !Model.StudentList.Any())
            {
                <br />
                <p>No Mogwai in the System</p>
                <br />
            }
            else
            {

                foreach (var item in Model.StudentList)
                {
                    if (item.Status == studentStatusEnum1)
                    {

                    <div class="col-xs-3">
                        <div class="panel">
                
                            @using (Html.BeginForm())
                        {
                         count++; string id = "" + count;
                        <p id="@id"> <img src="~/image/@item.AvatarId" width="75" height="75" /></p>

                        <br />
                        <span>
                            @item.Name
                        </span>

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => id)
                        @Html.HiddenFor(m => @item.Name)
                        @Html.HiddenFor(m => @item.AvatarId)
                        @Html.HiddenFor(m => @item.Tokens)
                        @Html.HiddenFor(m => @item.Status)
                        <input type="submit" value="activate" class="btn btn-primary">
                                }
                        </div>
                    </div>
                                            }
                                        }
                                    }
                                }

    </div>
</div>