@model EverPresent.Models.StudentViewModel
@Scripts.Render("~/Scripts/script.js")
@{
    ViewBag.Title = "InactiveStudents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;

    EverPresent.Models.Enums.StudentStatusEnum studentStatusEnum1 = EverPresent.Models.Enums.StudentStatusEnum.Hold;

}



<div class="container">
    <div class="row text-center panel-ep">

        @{
            if (Model.StudentList == null || !Model.StudentList.Any())
            {
                <br />
                <p>No Mogwai in the System</p>
                <br />
            }
            else
            {

                foreach (var item in Model.StudentList)
                {
                    if (item.Status == studentStatusEnum1)
                    {

                        <div class="col-xs-3">
                            <div class="panel">

                                @{count++; string id = "" + count; }
                                <img src="~/image/@item.AvatarId" class="mogwaiSizeSmall" />
                                <button id="@item.Id" type="button" onclick="location.href='@Url.Action("Activate", "Admin", new {id = @item.Id })'" class="btn-info1">activate</button>


                                <br />
                                <span>
                                    @item.Name
                                </span>

                            </div>
                        </div>
                    }
                }
            }
        }

    </div>
</div>