@model EverPresent.Models.StudentViewModel
@Scripts.Render("~/Scripts/script.js")






@{
    
    int count = 0;
}





<h2>Students</h2>

<div class="container">
    <div class="row text-center">

        @{
            if (Model.StudentList == null || !Model.StudentList.Any())
            {
                <br />
                <p>No Mogwai in the System</p>
                <br />
            }
            else
            {

                foreach (var item in Model.StudentList)
                {

                    <div class="col-sm-2">
                        @{ count++; string id = "id" + count;}
                        <p id="@id"> <img src="~/image/@item.AvatarId" width="75" height="75" /></p>

                        <br />
                        <span>
                            @item.Name
                        </span>

                    </div>
                }
            }
        }

    </div>
    <br />
    <br />
   
</div>

<script>

    var f1 = false;
    var f2 = true;
    var f3 = false;
    var f4 = true;
    var f5 = false;
    var f6 = false;
    var f7 = false;

        document.getElementById("id1").addEventListener("click", myFunction);
        function myFunction()
        {
            if (f1 == false) {
                alert("Clock in Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id1").style = "filter:grayscale(100%)";

                f1 = true;
            } else {
                alert("Clock out Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id1").style = "filter:graryscale(0%)";

                f1 = false;
            }
    }

        document.getElementById("id2").addEventListener("click", myFunction2);
        function myFunction2()
        {
            if (f2 == false) {
                alert("Clock in Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id2").style = "filter:grayscale(100%)";

                f2 = true;
            } else {
                alert("Clock out Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id2").style = "filter:graryscale(0%)";

                f2 = false;
            }
    }
       document.getElementById("id3").addEventListener("click", myFunction3);
        function myFunction3()
        {
            if (f3 == false) {
                alert("Clock in Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id3").style = "filter:grayscale(100%)";
                f3 = true;
            } else {
                alert("Clock out Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id3").style = "filter:graryscale(0%)";

                f3 = false;
            }
    }
       document.getElementById("id4").addEventListener("click", myFunction4);
        function myFunction4()
        {
            if (f4 == false) {
                alert("Clock in Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id4").style = "filter:grayscale(100%)";

                f4 = true;
            } else {
                alert("Clock out Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id4").style = "filter:graryscale(0%)";

                f4 = false;
            }
        }   document.getElementById("id5").addEventListener("click", myFunction5);
        function myFunction5()
        {
            if (f5 == false) {
                alert("Clock in Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id5").style = "filter:grayscale(100%)";

                f5 = true;
            } else {
                alert("Clock out Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id5").style = "filter:graryscale(0%)";

                f5 = false;
            }
    }
       document.getElementById("id6").addEventListener("click", myFunction6);
        function myFunction6()
        {
            if (f6 == false) {
                alert("Clock in Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id6").style = "filter:grayscale(100%)";

                f6 = true;
            } else {
                alert("Clock out Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id6").style = "filter:graryscale(0%)";

                f6 = false;
            }
    }
       document.getElementById("id7").addEventListener("click", myFunction7);
        function myFunction7()
        {
            if (f7 == false) {
                alert("Clock in Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id7").style = "filter:grayscale(100%)";

                f7 = true;
            } else {
                alert("Clock out Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id7").style = "filter:graryscale(0%)";

                f7 = false;
            }
    }
       document.getElementById("id8").addEventListener("click", myFunction8);
        function myFunction8()
        {
            if (f8 == false) {
                alert("Clock in Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id8").style = "filter:grayscale(100%)";

                f8 = true;
            } else {
                alert("Clock out Success! Time: @DateTime.Now.ToString(@"MMM d yyyy HH:mm:ss")");
                document.getElementById("id8").style = "filter:graryscale(0%)";

                f8 = false;
            }
        }


</script>