@model Tuple<EverPresent.Models.StudentModel, EverPresent.Models.StudentViewModel>
@Scripts.Render("~/Scripts/script.js")
@Scripts.Render("~/Scripts/bootsrtap.js")
@Scripts.Render("~/Scripts/graphs.js")


@{
    int count = 0;
    EverPresent.Models.Enums.StudentStatusEnum studentStatusEnum1 = EverPresent.Models.Enums.StudentStatusEnum.Hold;
}


<h2 align="center">Students</h2>

<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Numeric JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
</head>

@*Display Students names and their favorite Mogwai*@
<div class="container" align="center">
    <div class="row text-center" align="center">

        @{
            if (Model.Item2.StudentList == null || !Model.Item2.StudentList.Any())
            {
                <br />
                <p>No Mogwai in the System</p>
                <br />
            }
            else
            {

                foreach (var item in Model.Item2.StudentList)
                {
                    if (item.Status != studentStatusEnum1)
                    {
                        <div class="col-sm-2">
                            @{ count++; string id = "id" + count;}
                            <!--If a student is clicked, the header and line graph will change-->
                            <p id=@id value=@item.Name onclick="clickedStudent(this)">
                                <img src="~/image/@item.AvatarId" class="mogwaiSizeSmall" />
                            </p>

                            <br />
                            <span>
                                @item.Name
                            </span>

                        </div>
                    }
                }
            }
        }

    </div>
    <br />

    <h2 id="head" align="center">Click a Student above to view Attendance Profile</h2>

    @*Hidden until a student is clicked*@
    <div id="cal" style="visibility:hidden" align="center">

        @*Generate Report button*@
        <button id="print" class="btn btn-default" onclick="printContent('printGraphs');">Print Report</button>

        @*Edit Attendance button*@
        <button id="timeButton" class="btn btn-default" onclick="
            document.getElementById('time').style.display = 'block'" style="visibility:hidden">
            Edit Attendance
        </button>

        @*Edit Student button*@
        <button id="registerLink" class="btn btn-default" onclick="
            document.getElementById('editStudent').style.display = 'block'">
            Edit Student
        </button>

        @*Add tokens button*@
        <button id="registerLink" class="btn btn-default" onclick="
            document.getElementById('addTokens').style.display = 'block'">
            Add Tokens
        </button>

    </div>

    <div>
        @*Display editable Attendance table -- only shown if "Edit Attendance" button is clicked*@
        <div id="time" class="container-fluid" style="width:50%; display:none" align="center">
            <div class="row">

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@DateTime.Today.ToString("D")</th>
                                <th>Signed In</th>
                                <th>Signed Out</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td id="inTime1" contenteditable="true">9:15 am</td>
                                <td id="outTime1" contenteditable="true">11:09 am</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td id="inTime2" contenteditable="true">12:28 pm</td>
                                <td id="outTime2" contenteditable="true">2:45 pm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @*Hide Attendance table*@
            <button onclick="document.getElementById('time').style.display = 'none'" class="btn btn-default">Close</button>
        </div>

        @*Display Edit Student Form -- only shown if "Edit Student" button is clicked*@
        @using (Html.BeginForm())
        {
            <div id="editStudent" class="container-fluid" style="display:none; margin-top:10px;" align="center">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Item1.Id)
                @Html.HiddenFor(m => m.Item1.Status)
                @Html.HiddenFor(m => m.Item1.Tokens)

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.Item1.Name)
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.Item1.Name)
                        @Html.ValidationMessageFor(m => m.Item1.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.Item1.AvatarId)
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(m => m.Item1.AvatarId, new SelectList(
                               new List<Object>{
                                         new { value = "avatar0.png" , text = "Jord"  },
                                         new { value = "avatar1.png" , text = "Freya"  },
                                         new { value = "avatar2.png" , text = "Hodr"  },
                                         new { value = "avatar3.png" , text = "Vili"  },
                                         new { value = "avatar4.png" , text = "Loki"  },
                                         new { value = "avatar5.png" , text = "Frigg"  },
                                         new { value = "avatar6.png" , text = "Sif"  },
                                         new { value = "avatar7.png" , text = "Burr"  }

                                 },
                               "value",
                               "text",
                                Model.Item1.AvatarId), new { @style = "width: 180px;" })

                        @Html.ValidationMessageFor(m => m.Item1.AvatarId)
                    </div>
                </div>
                <div>
                    @*Hide Tokens Form*@
                    <button type="submit" class="btn btn-default">
                        Submit
                    </button>
                    <button onclick="document.getElementById('editStudent').style.display = 'none'" class="btn btn-default">
                        Close
                    </button>
                </div>


            </div><!-- /.container -->
        }
        @*Display Add Tokens Form -- only shown if "Add Tokens" button is clicked*@
        @using (Html.BeginForm())
        {
            <div id="addTokens" class="container-fluid" style="display:none; margin-top:10px">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Item1.Id)
                @Html.HiddenFor(m => m.Item1.AvatarId)
                @Html.HiddenFor(m => m.Item1.Status)
                @Html.HiddenFor(m => m.Item1.Name)

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.Item1.Tokens)
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.Item1.Tokens)
                        @Html.ValidationMessageFor(m => m.Item1.Tokens)
                    </div>
                </div>

                <div>
                    @*Hide Tokens Form*@
                    <button type="submit" class="btn btn-default">
                        Submit
                    </button>
                    <button onclick="document.getElementById('addTokens').style.display = 'none'" class="btn btn-default">
                        Close
                    </button>
                </div>


            </div><!-- /.container -->
        }

    </div>

    <div id="printGraphs">
        @*Display line graph*@
        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>


        @*Display pie charts*@
        <div id="secondDiv" style="width:60%;" align="center"><!-- Plotly chart will be drawn inside this DIV --></div>
    </div>
</div>


